body{
    height: auto !important;
    min-height: 100%;
}

.full-viewport{
    height: calc(100vh - var(--header_logo_height)) !important;
}

.sticky-under-navbar{
    position: sticky;
    top: var(--header_logo_height);
}

.supplier-list-header-text{
    font-size: 0.88em;
}

.supplier-list-table-text{
    font-size: 0.75em;
}

.supplier-table:nth-child(odd){
    background-color: white;
}

.text-accepted{
    color: #02542d;
}
.text-waiting{
    color: #975102;
}
.text-refused{
    color: #900b09;
}
.text-to-review{
    color: #bf6a02;
}


/* PRODUIT ET SERVICE */

.highlight {
    background-color: yellow; /* Change this to your desired highlight color */
    font-weight: bold; /* Optional: make the highlighted text bold */
}

.form-floating>.form-control:not(:placeholder-shown)~label.labelbackground{
    margin: calc(1rem - 3px) calc(0.75rem - 2px);
    padding: 0rem 0rem;
    height: auto;
    background-color: white;
    opacity: 0.95;
}