body{
    height: auto !important;
    min-height: 100%;
}

.full-viewport{
    height: calc(100vh - var(--header_logo_height)) !important;
    overflow-y: auto;
}

.sticky-under-navbar{
    position: sticky;
    top: var(--header_logo_height);
}

.supplier-list-table-text{
    font-size: 0.9em;
}
.text-status-request{
    font-size: 0.75em;
}

.supplier-table:nth-child(odd){
    background-color: white;
}
.supplier-table:hover{
    background-color: #bdbdbd;
}
.supplier-table svg{
    min-width: 20px;
}

.text-accepted{
    color: #02542d;
}
.text-waiting{
    color: #975102;
}
.text-refused{
    color: #900b09;
}
.text-to-review{
    color: #bf6a02;
}
.text-removed{
    color: #999999;
}