@font-face {
    font-family: poppins;
    src: url(/font/Poppins-Light.otf);
}

body{
    background-color: #EEEEF0;
}

div{
    font-family: poppins;
}

.button-darkblue{
    border: 0;
    background-color: #0B2341;
    color: white;
}
.button-darkblue:hover{
    background-color: #0076D5;
    color: black;
}
.button-darkblue:active{
    background-color: #F3E700;
    color: black;
}

input:focus{
    border: #0B2341 solid 1px !important;
    
}