:root{
    --light_grey: #EEEEF0;

    --dark_blue: #0B2341;
    --light_blue: #78C6E0;
    --blue: #0076D5;

    --dark_green: #1E494D;
    --light_green: #C5D800;
    --green: #68B545;

    --red: #E5004D;
    --orange: #ED8C00;
    --yellow: #F3E700;
    --pink: #F99FD7;

    --header_logo_height: 100px;
}

.hover-options:hover{
    background-color: rgb(225, 225, 225);
}

.disabled-options{
    color: gray;
    pointer-events: none;
}

.note{
    font-size: 10pt;
    color: gray;
}

@font-face {
    font-family: poppins;
    src: url(/font/Poppins-Light.otf);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.section-title{
    font-size: 24pt;
}

.section-subtitle{
    font-size: 16pt;
}

.form-label{
    font-size: 10pt;
}

body{
    background-color: var(--light_grey);
}

div{
    font-family: poppins;
}

.button-darkblue{
    border: 0;
    background-color: var(--dark_blue);
    color: white;
}
.button-darkblue:hover{
    background-color: #10315a;
}
a.button-darkblue{
    text-decoration-line: none;
}
a.button-darkblue:hover{
    color: white;
    cursor: pointer;
}

.button-red{
    border: 0;
    background-color: var(--red);
    color: white;
}
.button-red:hover{
    background-color: #aa0039;
}

.button-add-darkblue{
    border: 0;
    background-color: white;
    color: var(--dark_blue);
}
.button-add-darkblue:hover{
    color: #10315a;
}

.previous-button{
    color : var(--dark_blue);
    background-color: white;
    border: none;
}
a.previous-button{
    text-decoration-line: none;
}

.previous-button:hover{
    border : var(--blue);
    color :var(--blue);
}

input:focus, select:focus, textarea:focus{
    border: var(--blue) solid 1px !important;
    box-shadow: none !important;
}

.bg-darkblue{
    background-color: var(--dark_blue);
}
.bg-blue{
    background-color: var(--blue);
}
.bg-lightblue{
    background-color: var(--light_blue);
}
.bg-green{
    background-color: var(--green);
}
.bg-gray{
  background-color: lightgray;
}
.bg-gray:hover {
  background-color: darkgray !important;
}
.txt-green{
    color: var(--green);
}
.txt-red{
    color: var(--red);
}

.full-viewport{
    height: calc(100vh - var(--header_logo_height)) !important;
    z-index: 0;
}

.sticky-under-navbar{
    position: sticky;
    top: var(--header_logo_height);
}

.rounded-custom{
  border-radius: 1.25em;
}
.rounded-top-left{
  border-top-left-radius: 1.25rem;
}
.rounded-top-right{
  border-top-right-radius: 1.25rem;
}
.rounded-bottom-left{
  border-bottom-left-radius: 1.25rem;
}
.rounded-bottom-right{
  border-bottom-right-radius: 1.25rem;
}

/* PRODUIT ET SERVICE */
.highlight {
    background-color: yellow; /* Change this to your desired highlight color */
    font-weight: bold; /* Optional: make the highlighted text bold */
}

.form-floating>.form-control:not(:placeholder-shown)~label.labelbackground{
    margin: calc(1rem - 3px) calc(0.75rem - 2px);
    padding: 0rem 0rem;
    height: auto;
    background-color: white;
    opacity: 0.95;
}

@media (min-width: 768px) {
    .h-md-100 {
        height: 100% !important;
    }
}