.header-logo{
    height: 100px;
}

.icon-hamburger{
  color: black;
}

.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar {
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 3;
}