.bg-image-login{
  background-image: url('/img/login_background.jpg');
  background-size: cover;
  min-height: 100% !important;
}

.bg-grey-transparent{
  background-color: rgba(0, 0, 0, 0.87);
}
.bg-grey-transparent-gradient{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.87) , rgba(255, 255, 255, 0));
}

.singin-link{
  font-size: 0.80em;
}

.invalid-feedback-custom{
  color: #dc3545;
  font-size: 0.875em;
}

div.login-selected{
  background-color: var(--dark_blue);
  color: white;
}
div.login-unselected{
  background-color: gray;
  color: black;
}
div.login-unselected:hover{
  background-color: var(--blue);
  color: white;
  cursor: pointer;
}
a.login-selected{
  display: none;
}