.w-85 {
  width: 85%;
}

.w-65 {
  width: 65%;
}

.h-45{
  height: 45%;
}

.h-10 {
  height: 10%;
}

.left-nav > div:hover {
background-color: lightgray;
cursor: pointer;
}

.left-nav div svg {
 width: 17px;
 height: 17px;
 margin-bottom: 5px;
}

.popover-link {
  text-decoration: underline;
  color: #007bff; 
  cursor: pointer;
}
  
.title-border {
  border-bottom: solid var(--dark_blue) 1px;
}

.add-contact,
.delete-contact {
  border: none;
  background-color: transparent;
  width: 30px;
}

.add-contact svg {
  cursor: pointer;
}

.form-check-input:disabled ~ .form-check-label, .form-check-input[disabled] ~ .form-check-label {
  opacity: 1;
}

#deniedReason{
  min-height: 120px;
}

.invalidTvqFormat{
  padding-left: 20px;
}

.mobile-icon-svg svg{
  height: 30px;
}

.nav-mobile-container{
  max-height: 50px;
}

/*Contact Detail*/
@media (max-width: 1199px) and (min-width:993px) {
  #postalCode{
      font-size: 10px; 
      line-height: 1.5;
  }
  #contactDetailDALabel{
      font-size: 10px; 
      line-height: 1.5;
  }
}

@media (max-width: 1200px) {
  #div-phoneNumberList div{
      font-size: 12px;
  }
  #attachmentFilesList div{
      font-size: 14px !important;
  }
}