/* FORMULAIRE */
.fond-image{
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* IDENTIFICATION */
.fond-identification{
    background-image: url("/img/pont_laviolette.jpg");
}

/* PRODUIT ET SERVICE */
.fond-products_services{
    background-image: url("/img/produits_services.jpg");
}

/* LICENCE RBQ */

/* COORDONNÉES */

/* CONTACT */

/* PIÈCES JOINTES */