.header-logo{
    height: var(--header_logo_height);
}

.icon-hamburger{
  color: black;
}

.navbar-toggler:focus{
  box-shadow: none !important;
}

.navbar {
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 3;
}

.navbar a{
    text-decoration-line: none;
    color: black;
}
.navbar a:hover{
    color: var(--blue);
}

.link-button{
  background: none;
  border: none;
}
.link-button:hover{
  color: var(--blue);
}